@{
    ViewBag.Title = "DNA Cloud Storage";
}

<div class="jumbotron">
    <h1>Azure DNA Storage Portal</h1>
    <h2>Storing digital data into synthetic DNA</h2>
    <p class="lead">This project enables moleculer-level data storage into DNA molecules by leveraging biotechnology advances in synthesizing, manipulating, and sequencing DNA to develop archival storage. &nbsp;<a href="https://www.microsoft.com/en-us/research/project/dna-storage" class="btn btn-primary btn-sm" target="_blank">Learn more &raquo;</a></p>
    <br/>


    <p>
        Encode a binary file into DNA here...&nbsp;
        <a href="/Searches/New" class="btn btn-success btn-sm" role="button">Encode &raquo;</a>
    </p>



    <p>
        Got a FASTQ file from a DNA sequencer? Decode it here...&nbsp;
        <a href="/Searches/New" class="btn btn-success btn-sm" role="button">Decode &raquo;</a>
    </p>


    <p>
        Analyze your FASTQ file here...&nbsp;
        <a href="/Searches/New" class="btn btn-success btn-sm" role="button">Analyze &raquo;</a>
    </p>
</div>

